<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% set current_route = app.request.attributes.get('_route') %}

    {% if current_route not in ['app_login', 'app_register'] %}
        <div class="bg-gray-100 font-sans w-full m-0">
            <div class="bg-white shadow">
                <div class="container mx-auto px-4">
                    <div class="flex items-center justify-between py-4">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-purple-600" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M14.5,16 C14.2238576,16 14,15.7761424 14,15.5 L14,9.5 ..." />
                            </svg>
                        </div>

                        <div class="hidden sm:flex sm:items-center">
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Products</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Marketplace</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Partners</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600">Pricing</a>
                        </div>

                        <div class="hidden sm:flex sm:items-center">
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Connexion</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600">S'enregistrer</a>
                        </div>

                        <div class="sm:hidden cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-600" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.9499909,17 ..." />
                            </svg>
                        </div>
                    </div>

                    <div class="block sm:hidden bg-white border-t-2 py-2">
                        <div class="flex flex-col">
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Products</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Marketplace</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Partners</a>
                            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Pricing</a>
                            <div class="flex justify-between items-center border-t-2 pt-2">
                                <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Sign in</a>
                                <a href="#" class="text-gray-800 text-sm font-semibold border px-4 py-1 rounded-lg hover:text-purple-600 hover:border-purple-600">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block body %}{% endblock %}
    </body>

</html>
